@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto:wght@100;300;400;700;900&display=swap");
.pv-100{
  padding-top: 100px;
  padding-bottom: 100px;
}
.pv-50{
  padding-top: 50px;
  padding-bottom: 50px;
}
.nav-title{
  font-size: 20px;
  margin: 0;
}
.nav-links {
  font-size: 14px;
}

.nav-links a {
  margin: auto 5%;
  white-space: nowrap;
  color: #fff;
  text-decoration: none;
}

.links-mobile{
  display: none;
}

.bar{
  width: 22px;
  margin: 3px auto;
  border-top: 3px solid #fff;
}

.head-box {
  padding-top: 250px;
  padding-bottom: 150px;
}

.head-title {
  font-family: "Oswald", sans-serif;
  font-size: 48px;
  margin: 0 0 40px 0;
}

.head-desc {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #ccc;
}

.mini-desc {
  display: flex;
  flex-direction: row;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000;
}

.mini-desc>.col {
  text-align: start;
  margin-left: 5%;
  margin-right: 5%;
}

/* Top-mid Section */
.mid {
  background-color: #eee;
}

.btn-smol {
  color: #fff;
  background-color: #55c2d8;
  border: none;
  border-radius: 25px;
  font-size: 14px;
  line-height: 26px;
  padding: 3px 16px;
}

.btn-big {
  font-size: 70px;
  padding-left: 20px;
  margin-bottom: 50px;
  color: #fff;
  background-color: #55c2d8;
  width: 150px;
  height: 150px;
  border: none;
  border-radius: 50%;
}

/* Bottom-mid Section */
.bot {
  color: white;
  margin-bottom: 0;
  background-image: url(../assets/bg-footer.png), url(../assets/bg-footer-add.png);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

.bot-logo {
  display: flex;
  margin-bottom: auto;
  color: #fff;

}

.bot-logo img {
  padding-right: 5px;
}

@media (max-width: 768px) {
  .links-mobile{
    display: block;
  }
  .head-box{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-links {
    display: none;
  }

  .mini-desc {
    flex-direction: column;
  }

  .mid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: start;
  }

  .mid .head-title, .mid .head-desc, .mid button{
    margin-left: 5%;
  }

  .bot {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}