@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");

body {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

header {
  width: 100%;
  background: url(../assets/bg-header.png);
  background-repeat: no-repeat;
  background-size: 1200px;
  background-position: center;
  background-position-y: top;
  overflow: hidden;
  color: white;
  text-align: center;
}

nav {
  display: flex;
  margin-top: 15px;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
}

nav>div {
  display: flex;
  margin: 0 10%;
}

nav div h2 {
  font-weight: 400 !important;

}

section {
  text-align: center;
  margin: 0;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: rgb(255, 255, 255, .4);
  background-color: #464547;
  padding: 20px 0 20px 20px;
  font-family: "Source Sans Pro", sans-serif;
}

footer a {

  color: rgb(255, 255, 255, .4);
  text-decoration: none;
}

@media (max-width: 768px) {
  footer {
    flex-direction: column;
    align-items: center;
  }

  footer>* {
    margin: 5% auto;
  }

  footer i {
    flex-direction: column;
    display: flex;
  }

  footer i a {
    padding-top: 18px;
  }
}